h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-lg);
}

h5 {
  font-size: var(--font-size-lg);
}

h6 {
  font-size: var(--font-size-base);
}

p {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-4);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-primary-hover);
}

small {
  font-size: var(--font-size-sm);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}
