@layer layout {
  /* シンプルなフレックスベースのグリッドシステム */
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing-4));
    margin-right: calc(-1 * var(--spacing-4));
  }

  /* 様々なサイズの列 */
  .grid-col {
    flex: 1 0 0%;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  .grid-col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  /* 固定サイズの列 */
  .grid-col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .grid-col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .grid-col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .grid-col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .grid-col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .grid-col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .grid-col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .grid-col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .grid-col-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  /* グリッドの間隔設定 */
  .grid-gap-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .grid-gap-0 > .grid-col,
  .grid-gap-0 > [class*="grid-col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-gap-1 {
    margin-left: calc(-1 * var(--spacing-1));
    margin-right: calc(-1 * var(--spacing-1));
  }

  .grid-gap-1 > .grid-col,
  .grid-gap-1 > [class*="grid-col-"] {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
  }

  .grid-gap-2 {
    margin-left: calc(-1 * var(--spacing-2));
    margin-right: calc(-1 * var(--spacing-2));
  }

  .grid-gap-2 > .grid-col,
  .grid-gap-2 > [class*="grid-col-"] {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
  }

  .grid-gap-3 {
    margin-left: calc(-1 * var(--spacing-3));
    margin-right: calc(-1 * var(--spacing-3));
  }

  .grid-gap-3 > .grid-col,
  .grid-gap-3 > [class*="grid-col-"] {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }
}
