/* ボタン基本スタイル */
@scope (.btn) {
  --btn-padding-x: 24px;
  --btn-padding-y: 8px;

  display: inline-block;
  white-space: nowrap;
  user-select: none;
  border: var(--border-width) solid transparent;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    text-decoration: none;
    filter: brightness(95%);
  }

  &:focus,
  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;

    &:hover {
      filter: none !important;
    }
  }

  &.btn-primary {
    color: var(--color-text-light);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(63, 136, 242, 0.5);
    }
  }

  /* ボタンバリエーション - セカンダリ */
  &.btn-secondary {
    color: var(--color-text-light);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-hover);
      border-color: var(--color-secondary-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }
  }

  /* ボタンバリエーション - 成功 */
  &.btn-success {
    color: var(--color-text-light);
    background-color: var(--color-success);
    border-color: var(--color-success);

    &:hover {
      background-color: var(--color-success-hover);
      border-color: var(--color-success-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
  }

  /* ボタンバリエーション - 危険 */
  &.btn-danger {
    color: var(--color-text-light);
    background-color: var(--color-danger);
    border-color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger-hover);
      border-color: var(--color-danger-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }
  }

  /* ボタンバリエーション - 警告 */
  &.btn-warning {
    color: var(--color-text);
    background-color: var(--color-warning);
    border-color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-hover);
      border-color: var(--color-warning-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    }
  }

  /* アウトラインボタン */
  &.btn-outline-primary {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);

    &:hover {
      color: var(--color-text-light);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  /* 幅いっぱいのボタン */
  &.btn-block {
    display: block;
    width: 100%;
  }
}
